/* Navigation Bar Styling */
.navbar-nav .nav-item:nth-child(1) .nav-link,
.navbar-nav .nav-item:nth-child(2) .nav-link,
.navbar-nav .nav-item:nth-child(3) .nav-link {
    color: black; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#navigationBar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-nav {
    display: flex;
    justify-content: space-around; 
    width: 110%; 
}

.navbar-nav .nav-item {
    text-align: center;
}

.quote p {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


#anneFeedbackform2 {
    width: 100%; 
}

.form-group textarea {
    width: 100%; 
    box-sizing: border-box; 
}

.btn {
    width: 100%; }

#anneFeedbackForm img[alt="a cozy reading gif"] {
        width: 50%; 
        height: 50%;
        margin-left: 25%;
        text-align: center;
        border-radius: 10px;
    }

.col-5 > div > ul >li::before {
    content: '\2022'; 
    color: blue; 
    font-size: 20px;
    left: 10%;
} 